[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="*"
scipy="*"
torch="*"
numba="*"
pywavelets = "*"
sklearn = "*"
ptwt="*"
ssqueezepy = "*"
pandas = "*"
tqdm = "*"
pysindy = "*"
pysr = "*"
cupy = "*"

[dev-packages]
jupyter="*"
jupyterlab="*"
yapf = "*"
matplotlib="*"
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
