[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="*"
scipy="*"
torch="*"
torchaudio="*"
torchvision="*"
numba="*"
pywavelets = "*"
sklearn = "*"
ptwt="*"
ssqueezepy = "*"
pandas = "*"
fastparquet = "*"
pytorch-lightning = "*"
tqdm = "*"
joblib = "*"

[dev-packages]
jupyter="*"
jupyterlab="*"
yapf = "*"
pandas = "*"
seaborn = "*"
matplotlib="*"
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
